@model AspNetCoreTodo.Models.TodoItem

<form asp-action="AddItem" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DueAt" class="control-label"></label>
        <input asp-for="DueAt" type="date" class="form-control" />
        <span asp-validation-for="DueAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>